<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>project.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>CheckOutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>CheckoutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>EditMyAccountServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>CheckoutPageServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>MyAccountPageServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>OrderDetailServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>OrderServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>project.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>project.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>project.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>project.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>project.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindItemServlet</servlet-name>
        <servlet-class>project.servlet.FindItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>project.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>project.servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>project.servlet.LoginPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPageServlet</servlet-name>
        <servlet-class>project.servlet.RegisterPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartPageServlet</servlet-name>
        <servlet-class>project.servlet.CartPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductServlet</servlet-name>
        <servlet-class>project.servlet.GetProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListWomenServlet</servlet-name>
        <servlet-class>project.servlet.ProductListWomenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>project.servlet.CheckoutPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListSexServlet</servlet-name>
        <servlet-class>project.servlet.ProductListSexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListPriceServlet</servlet-name>
        <servlet-class>project.servlet.ProductListPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountPageServlet</servlet-name>
        <servlet-class>project.servlet.MyAccountPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutPageServlet</servlet-name>
        <servlet-class>project.servlet.CheckoutPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMyAccountServlet</servlet-name>
        <servlet-class>project.servlet.EditMyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>project.servlet.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropFromCartServlet</servlet-name>
        <servlet-class>project.servlet.DropFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>project.servlet.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>project.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>project.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>project.servlet.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindItemServlet</servlet-name>
        <url-pattern>/FindItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/LoginPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPageServlet</servlet-name>
        <url-pattern>/RegisterPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartPageServlet</servlet-name>
        <url-pattern>/CartPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductServlet</servlet-name>
        <url-pattern>/GetProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListWomenServlet</servlet-name>
        <url-pattern>/ProductListWomenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListSexServlet</servlet-name>
        <url-pattern>/ProductListSexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListPriceServlet</servlet-name>
        <url-pattern>/ProductListPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountPageServlet</servlet-name>
        <url-pattern>/MyAccountPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutPageServlet</servlet-name>
        <url-pattern>/CheckoutPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMyAccountServlet</servlet-name>
        <url-pattern>/EditMyAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/ShowCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropFromCartServlet</servlet-name>
        <url-pattern>/DropFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
